
.simpson name {

   margin: 100px;
}
.simpson info {
   align-items: center;
   text-align: left;
}
.simpson img{
}
.simpson {
   width: 100%;
   display: flex;
}
.simpson-info {
   display: flex;
   border-bottom: 1px solid #eae7e7;
}
.simpson-text {
   width: 50%;
   margin-left: 20px;
}
.simpson-info img {
   height: 400px;
}
.products-box {
   display: flex;
}
.products-box img {
   height: 600px;
}

body {font-size: 25px;
  }

